.account-container {
    width: 100vw;
    height: 90vh;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.account-position-container {
    position: relative;
    width: 50vw;
    height: 60vh;
}


@media screen and (max-width: 480px) {
    .account-container {
        justify-content: start;
        margin-top: 10px;
    }
    .account-position-container {
        width: 96vw;
    }
}
