.icon-button {
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    color: black;
}

.icon-button:hover {
    color: #333232;
}

.dictionary-container {
    width: 100vw;
    height: auto;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
    margin: 3% 0 2% 0;
}

.dictionary-position-container {
    position: relative;
    width: 70vw;
    /*height: 60vh;*/
}

.dictionary-list-div {
    margin-top: 10px;
}

.dictionaries-right {
    display: inline-flex;
    align-items: center;
    font-size: 17px;
}

.list-counter {
    margin-right: 26px;
    color: #586069;
    font-size: 13px;
}

.dictionary-sort-block {
    display: flex;
}

/* sort button */
.dictionary-sort-button-div {
    margin: -8px 2px 0 20px;
}
.dictionary-sort-button-span {
    color: #586069;
    font-size: 12px;
    cursor: pointer;
}
.dictionary-sort-button-span:hover {
    color: #269d10;
}

@media screen and (max-width: 480px) {
    .dictionary-position-container {
        width: 96vw;
    }

    .dictionary-sort-block {
        width: 90%;
    }

    .dictionary-sort-button-div {
        position: absolute;
        right: 4px;
    }
}
