body {
    margin: 0;
}

:root {
    --bg:  #242526;
    --text-color: #dadce1;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

a{
    color: var(--text-color);
    text-decoration: none;
}



/* Dropdown Menu */
.nav-dropdown {
    position: absolute;
    top: 58px;
    /*width: auto;*/
    width: auto;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 2px;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.item-dropdown {
    position: absolute;
    right: 14%;
    /*width: auto;*/
    width: 130px;
    transform: translateY(76%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 2px;
    overflow: hidden;
    transition: height var(--speed) ease;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    padding: 0.4rem;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #ececec;
    color: black;
}

