
.entry-container {
    width: 100vw;
    height: auto;
    font-size: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3% 0 2% 0;
}

.entry-position-container {
    position: relative;
    width: 70vw;
    /*height: 60vh;*/
}

.entry-list-div {
    margin-top: 10px;
}

.list-item-div {
    
}
.background-green {
    background-color: #ccee996b;
}
.background-purple {
    background-color: #CBC3E3;
}
.background-yellow {
    background-color: #FDFD96;
}
.background-red {
    background-color: #fa8072ae;
}
.background-gray {
    background-color: #ededed;
}

.color-green {
    color: #269d10;
}
.color-purple {
    color: #CBC3E3;
}
.color-yellow {
    color: #fbfb64;
}
.color-red {
    color: #fa8072ae;
}

.entry-list-item-text {
    text-align: left;
    margin: 0;
}

.entry-list-item-h6 {
    margin: 4px 0 -6px 0;
}
.onlyKey {
    margin: 0;
}

.entry-list-item-span {
    color: black;
    opacity: .5;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

/* entry actions */
.entry-action-buttons {
    display: flex;
    align-items: center;
}
.entry-action-color-button {
    margin: 0 20px 0 0;
}
.entry-action-color-icon {
    color: #269d10;
    transition: transform 0.3s ease;
}
.entry-action-color-icon:hover {
    transform: scale(1.1);
}
.entry-delete-icon {
    transition: transform 0.3s ease;
}
.entry-delete-icon:hover {
    transform: scale(1.1);
}
.entry-list-item-x {
    margin: 0 6px 0 0;
}


/* sort button */
.entry-sort-button-div {
    margin: -6px 0 0 0;
}
.entry-sort-button-span {
    color: #586069;
    font-size: 14px;
    cursor: pointer;
    padding: 0 16px 0 0;
}
.entry-sort-button-span:hover {
    color: #269d10;
}

@media screen and (max-width: 480px) {
    .entry-position-container {
        width: 96vw;
    }
}
