.form {
    display: flex;
    flex-direction: column;
}

.form-title {
    margin: 0 0 1px 0;
}

.form-input-div-standard {

}
.form-input-standard {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    padding: 5px 14px 5px 10px;
    border-radius: 6px;
    font-weight: lighter;
    font-size: 18px;
    outline: none;
}



.form-input-div-space-left {
    display: flex;
    width: 100%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: white;
    border-radius: 6px;
    font-weight: lighter;
    font-size: 18px;
    outline: none;
}

.form-input-div-space-left span {
    display: block;
    width: fit-content;
}

.form-input-space-left {
    width: 95%;
    height: 30px;
    border: 0;
    background-color: transparent;
    padding: 0 0 2px 8px;
    /*margin: 0 0 0 32px;*/
    font-weight: lighter;
    font-size: 18px;
    outline: none;
}


.form-explanation {
    color: #586069;
    font-size: 12px;
}

